<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API COLCH STAR</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Hola, Bienvenido a nuestra API</h1>
        <div class="letter_animation">
            <span class="bouncy">A</span>
            <span class="bouncy">P</span>
            <span class="bouncy">I</span>
            <span class="bouncy"> </span>
            <span class="bouncy">D</span>
            <span class="bouncy">E</span>
            <span class="bouncy"> </span>
            <span class="bouncy">C</span>
            <span class="bouncy">O</span>
            <span class="bouncy">L</span>
            <span class="bouncy">C</span>
            <span class="bouncy">H</span>
            <span class="bouncy"> </span>
            <span class="bouncy">S</span>
            <span class="bouncy">T</span>
            <span class="bouncy">A</span>
            <span class="bouncy">R</span>

        </div>
        <hr>
        <hr>
        <h3>Cuenta con las siguientes opciones: </h3>
        <p>Usuarios, roles, configuracion, compra, detalleCompra, </p>
        <p>proveedor, clientes, ventas, detalleVentas,Prendas,Diseño</p>

    </div>

    <script src="/js/animacionTexto.js"></script>
</body>
</html>